.descriptionbox{
    margin: 120px 120px;
}

.box-navigator{
    display: flex;
}

.box-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.box-nav.fade{
    background: #FBFBFB;
    color: #555;
}

.box-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 30px;
    padding-bottom: 50px;
}