.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background: white;
}

.sidebar a{
  color: #002c3e;
  text-decoration: none;
}

.sidebar a:hover{
  color:#f7444e ;
}

.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  padding: 10px 15px;
  border-radius: 6px;
  background: #f2f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  gap: 20px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .sidebar {
    padding: 30px 0px;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: center;
  }
  .sidebarItem {
    margin: 0;
  }
}
