.offers {
  width: 80%;
  height: 75vh;
  display: flex;
  margin: auto;
  padding: 0px 20px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22);
}

.offersLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.offersLeft h1 {
  color: #171717;
  font-size: 60px;
  font-weight: 600;
}

.offersLeft p {
  color: #171717;
  font-size: 18px;
  font-weight: 600;
}

.offersLeft button {
  width: 200px;
  height: 50px;
  border-radius: 35px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

.offersRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
