.listProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 96.5vh;
  padding: 10px 50px;
  margin: 10px 30px;
  border-radius: 6px;
  background: white;
}

.productsFormatMain {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.productsFormat {
  align-items: center;
  font-weight: 500;
}

.productIcon {
  height: 80px;
}

.productRemoveIcon {
  cursor: pointer;
  margin: auto;
}


.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
}

.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
}

.heading_container h2 span {
  color: #f7444e;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  .listProduct {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }
}
@media (max-width: 460px) {
  .productsFormatMain {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }
  .productIcon {
    height: 60px;
  }
}
